<h1>edit your appearance here!</h1>




<%= form_for @appearance do |f| %>
  <%= f.label :rating %>
  <%= f.number_field :rating, in: (1..5) %>
  <%=f.hidden_field :user_id, :value => @user.id %>
  <%=f.hidden_field :episode_id, :value => @appearance.episode_id %>
  <%=f.hidden_field :guest_id, :value => @appearance.guest_id %>

  <%= f.submit %>
<% end %>
